<script>
if(localStorage.getItem('usuario') == null || localStorage.getItem('usuario') == undefined){
    window.location = "/login";
    console.log("login")
}</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/"> <img class="navbar-brand" src="../../images/logopairapp.png"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/admin">Admin</a></li>
      <li ><a href="/usuarios">Usuarios</a></li>
      <li ><a href="/partidas">Partidas</a></li>
      <li ><a href="/imagenes">Imagenes</a></li>
    </ul>
  </div>
</nav>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Imagen</th>
        <th>Puntaje</th>
    </tr>
    </thead>
    <tbody>
  {{#each imagenes}}
    <tr>
        <td><img src="{{nombre}}" class="img-nombre" width="50" height="50"></td>
        <td>{{puntaje}}</td>
        <td><a href="/imagenes/{{id}}/edit" class="btn btn-primary" role="button">Editar</a></td>
        <td><a href="/imagenes/{{id}}" class="btn btn-primary" role="button">Eliminar</a></td>
    </tr>
  {{/each}}
    </tbody>
</table>



<div class="row">
  <div class="col-xs-12">
    <a type="button" class="btn btn-default btn-primary" href="/imagenes/agregar">Nueva Imagen</a>
  </div>
</div>
