<body>

       
    <div class="centrado-porcentual col-12 col-sm-12">
        
                <div style="text-align: center" width="50%">
                 <a href="index.html"> <img src="images/logopairapp.png" width="500px"></a>
                 <a href="avatar.html" ><img src="images/play.gif" width="80%"></a> 
                </div>          
    </div>

        <div class="row adminLink">
            <div class="col-12">
                    <a href="/login">Ir administracion </a>
            </div>
        </div>
</body>
