<body>

       
    <div class="centrado-porcentual col-12 col-sm-12">
        
                <div style="text-align: center" width="50%">
                 <a href="#"> <img src="images/logoDos.gif" width="500px"></a>
                 <a href="/front" ><img src="images/botonInicio.png" width="55%"></a> 
                </div>          
    </div>

        <div class="row adminLink">
            <div class="col-12 btn btn-warning">
                    <a href="/login">Ir administracion </a>
            </div>
        </div>
</body>
