

#bienvenida{
    color: #f9e75e;font-family: 'Vibur', cursive;font-size: 30pt;font-weight: 900;text-align: center;}
#bienvenida span {font-size: 40pt}

/*centra en medio las cosas*/
    .centrado-porcentual {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    }


    .lista-img {
    width: 100px;
}

/*para imagen de fondo*/
body{
	background: url("../images/inicio2.gif") no-repeat center center fixed;
/*background-color: #BDBDBD;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    min-height: 100vh;
    height: 100vh;
}

/*brillo a la imagen color azul*/
.imagen:hover{

box-shadow: 0px 0px 5px 5px #2E9AFE;
-webkit-box-shadow: 0px 0px 5px 5px #2E9AFE;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
}

#excursiones {
}
.item-excursion {
    text-align: center;
    cursor: pointer;
    margin: 20px;
}
.item {
    
}
.title {
    width: 100%;
}

.oculto {
    display: none;
}
.video {
    max-width: 100%;
}

.adminLink{position: fixed;bottom: 5px;right: 0;}

.adminLink a{color: white; text-decoration: none;margin: 20px;font-weight: bold}

.btnp{background-color: #f73859;padding: 25px 50px;border-radius: 50px;border: none}
.btn{background-color: #f73859;padding: 10px 20px;border-radius: 20px;border: none}

.linkRegresar{text-align: center;display: block;color: white}

#pregunta label {
    display: inline-block;
    width: 50%;
}
#pregunta img{
    max-width: 100%;
    max-height: 120px;
}