
<link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="row justify-content-between bg-warning modal-body " id="menu">
   <div><a href="/"> <img src="/images/logoDos.gif" width="300px"></a></div>
   <div class=" text-right rem">
      <a href="/" id="iniciarBt" class="btn btn-danger"> <img src="/images/home.png"  width="50px"></a>
    </div>
</div>


<div class="">
   <button type="button" class="btn btn-warning" >
     <a href="/front/verRanking">Ver Ranking Partidas</a>
   </button> 
</div>

 </div>
      <div class="text-center titulo1">
        <h1 class="titulo1">Elije tu personaje</h1>
      </div>
  </div>


    <div class="row  " id="partidas" >
      {{#each usuarios}}
    <div class="col-xs-6 col-md-3">
      <h3 class="text-center title bg-info">{{nombre}}</h3>
     <a   onclick="sesion({{id}})" href="/front/instrucciones" class="thumbnail">  
        <img src="{{foto}}" class="img-perfil img-rounded">
      <h4 class="text-center ">Puntos: {{puntaje}}</h4>
     </a>

    </div>
    {{/each}}
  </div>

<script type="text/javascript" src="../js/classAvatar.js"></script>
<script type="text/javascript" src="../js/index.js"></script>


