<link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="row justify-content-between bg-warning modal-body " id="menu">
   <div class="col-md-10"><a href="/"> <img src="../images/logopairapp.png" width="300px"></a></div>
   <div class=" text-right rem">
      <a href="/" id="iniciarBt" class="btn btn-danger"> <img src="../images/home.png"  width="50px"></a>
    </div>
</div>


 <div class="titulo-avatar">

 <img id="fotoavatar" src=""  class="img-responsive img-rounded" width="100" height="100"> </div>

 {{!-- <div class="col-md-4" id="conten-avat" ></div> --}}

    <div class="video-container" style="text-align: center">

          <video width="600" height="500"
          src="../images/cartas.mp4" type="video/mp4" autoplay preload="auto">
          </video>
     </div>

  <div style="text-align: center" width="50%">
          <a href="/front/game" ><img src="../images/play.gif" width="20%"></a> 
  </div>

  
  <script type="text/javascript" src="../js/instrucciones.js"></script>

  
  {{!--Llama al js que setea tiempo para pasar a la ventana siguiente --}}
  {{!-- <script type="text/javascript" src="../js/settime.js"></script> --}}
