<link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/common.css" />
{{!-- <link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css"> --}}
{{!-- <link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> --}}


<script src="/js/jquery-1.7.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
<script src="/js/jquery.ui.touch-punch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>


<div class="row justify-content-between bg-warning modal-body  " id="menu">

  <div class="col-md-10"><a href="/"> <img src="/images/logoDos.gif" width="300px"></a></div>
  <div id="idTopGame"></div>
  <div class=" text-right rem">
    <a href="/" id="iniciarBt" class="btn btn-danger"> <img src="/images/back.png" width="50px"></a>
  </div>
</div>


{{!-- <div class="container-fluid">
  <div class="row">
    <!--            <h1>Juego de Pares</h1>-->
  </div>
  <div class="row">
    <!-- <h5 id="tiempo"> </h5>

 --> --}}


<div class="fondo">
  <div class="container">
    <button type="button" class=" "> Nivel Nutricional <span class="puntaje">0</span><span> % </span></button>
    <button type="button" class=" " id="descarga" style="display:none;"> Descargar </button>

    <div class="grup contenedor posision">
      <div class="row">
        <div class="col-md-3">
          <div class="thumbnail">
            <div class="caption ">
              <p>DAÑINOS </p>
            </div>
            <div class="grup img1" id="dañinos">
              <!-- <img class="alimentos  " id="dañinos" src="imagenes/hamburgesa.png" alt="sonidoHambur" >
                    <img class="alimentos " id="dañinos" src="imagenes/pizza.png" alt="sonidoPizza" style="width: 110px ; height: 70px" >
                    <img class="alimentos " id="dañinos" src="imagenes/cola.png" alt="sonidoCola" > -->
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="thumbnail">
            <div class="caption">
              <p>CONSTRUCTORES</p>
            </div>
            <div class="grup img2" id="contructores">
              <!-- <img class="alimentos " id="contructores" src="imagenes/leche.png" alt="sonidoLeche" >
                    <img class="alimentos " id="contructores"src="imagenes/yogurt.png" alt="sonidoYogurt" > -->
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="thumbnail">
            <div class="caption">
              <p>ENERGETICOS </p>
            </div>
            <div class="grup img3" id="energeticos">
              <!-- <img class="alimentos " id="energeticos" src="imagenes/platano.png" alt="sonidoPlatano">
                    <img class="alimentos " id="energeticos" src="imagenes/pan.png" alt="sonidoPan" style="width: 110px ; height: 70px"> -->
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="thumbnail">
            <div class="caption">
              <p>REGULADORES </p>
            </div>
            <div class="grup img4" id="reguladores">

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="lonchera ">
      <div class="row">
        <div class="row col-md-12 lonchCont">
          <div class="col-md-6 cc2 cont1" id="lonchContru">
          </div>
          <div class="col-md-6  ">
            <div class="col cc cont2" id="lonchEnerg"></div>
            <div class="col cc3 cont3" id="lonchRegu"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<audio id="correcto">
  <source type="audio/wav" src="../audios/acierto.mp3">
</audio>
<audio id="mal">
  <source type="audio/wav" src="../audios/incorrecto.mp3">
</audio>

<div class="titulo-avatar">

  <img id="fotoavatar" src="" class="img-responsive" width="100" height="100"> </div>

<div class="col-lg-6 col-sm-6  mx-auto " id="game" style="max-width: 32rem;">
</div>
</div>
</div>

<audio id="click">
  <source type="audio/wav" src="/audios/clickbambu.mp3" autoplay>
</audio>




<audio src="/images/1.mp3" autoplay> </audio>
{{!-- <script src="/js/Juego.js"></script> --}}
{{!-- <script src="/js/Card.js"></script> --}}

<script type="text/javascript" src="/js/main.js"></script>

<script type="text/javascript" src="/js/juego-alimentos.js"></script>

{{!-- <script src="/js/main.js"></script> --}}
<script src="/js/instrucciones.js"></script>