  <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
<div class="row justify-content-between bg-warning modal-body  " id="menu">

  <div><a href="index.html"> <img src="img/logopairapp.png" width="300px"></a></div>
    <div id="idTopGame" ></div>
        <div  class=" text-right rem">
          <a href="explicacion.html" id="iniciarBt" class="btn btn-danger"> <img src="img/back.png"  width="50px"></a>
        </div>
       </div>


    <div class="container-fluid">
        <div class="row">
<!--            <h1>Juego de Pares</h1>-->
        </div>
        <div class="row">
<!-- <h5 id="tiempo"> </h5>
 -->
            <div class="col-lg-6 col-sm-6  mx-auto " id="game"style="max-width: 32rem;" >
            </div>
        </div>
    </div>
{{!--
    <audio id="click">
      <source type="audio/wav" src="img/clickbambu.mp3" autoplay >
    </audio> --}}

{{!-- <audio src="img/1.mp3" autoplay> </audio> --}}
<script src="/js/Juego.js"></script>
<script src="/js/Card.js"></script>
<script src="/js/main.js"></script>
