<body>
<a href="/">Regresar al menú</a>
<div class="">
{{#each partidas}}
<div class="padre">
  <div class="hijo">
    <h2>{{ranking}}</h2>

  </div>
  <div class="hijo">
    <h2>{{puntaje}}</h2>

  </div>
  <div class="hijo">
    <h2>{{nombre}}</h2>
  </div>
  <div class="hijo ">
    <img class="rounded-circle personalImg"src="{{foto}}" alt="foto">
  </div>
</div>

{{/each}}
</div>


</body>
