<script>
if(localStorage.getItem('usuario') == null || localStorage.getItem('usuario') == undefined){
    window.location = "/login";
    console.log("login")
}</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="navbar-brand" src="../../images/logopairapp.png">
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/admin">Admin</a></li>
      <li ><a href="/usuarios">Usuarios</a></li>
      <li ><a href="/partidas">Partidas</a></li>
      <li ><a href="/imagenes">Imagenes</a></li>
    </ul>
  </div>
</nav>

<form class="form" action="/partidas/{{partida.id}}?_method=PUT" method="post">

 <div class="form-group">
    <label for="idusuario">Usuario:</label>
    <input type="text" class="form-control" id="idusuario" placeholder="Usuario" name="idusuario" value="{{partida.puntaje}}">
  </div>

  <div class="form-group">
    <label for="puntaje">Puntaje:</label>
    <input type="text" class="form-control" id="puntaje" placeholder="Puntaje de la carta" name="puntaje" value="{{partida.puntaje}}">
  </div>
  <!--<div class="form-group">
    <img src="" alt="" id="foto_perfil_">
  </div>-->
  <button type="submit" class="btn btn-default btn-success">
    Actualizar Datos
  </button>
</form>

{{#each scripts}}
  <script src="{{script}}"></script>
{{/each}}
